* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    
   
}
h1 {
    border-radius: 7px 7px 0 0;
    position: relative;
    margin: 15px 50px 30px;
    background: linear-gradient(0.25turn, #cf9090, #ebf8e1, #3ce0f6);
    color:rgb(102, 104, 251);
    text-shadow: 1px 1px rgb(253, 252, 253);
    font-style: unset;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 100%;
    border: 10px 30px;
    border-style: solid;
    border-color: #666 #666 transparent transparent;
}
h1::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    top: 100%;
    border: 10px 30px;
    border-style: solid;
    border-color:  #666 transparent  transparent  #666 ;
}
.container {
    max-width: 700px;
    margin: 10% auto;
    text-align: center;
    
}
.wrapper {
    border: 2px solid #fff;
    padding: 30px 0px;
    background-color: deepskyblue;
    border-radius: 20px;
    position: relative;
}
.container-block {
    border: 2px solid #fff;
    color: #fff;
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 0 auto 50px;
    position: relative;
    padding: 5px 2px;
}

.count-player::before {
    color: #000;
    content: 'player';
    font-size: 16px;
    position: absolute;
    bottom: -8px;
    left: 15px;
    background-color:deepskyblue;
}
.count-computer::before {
    color: #000;
    content: 'computer';
    font-size: 16px;
    position: absolute;
    bottom: -8px;
    right:5px;
    background-color: deepskyblue;
}
.container-field {
    display: flex;
    margin-bottom: 30px;
}
.player-field {
    flex: 50%;
}
.computer-field{
    flex: 50%;
}
.field {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 3px 4px 8px blueviolet;
    outline: none;
}
.player-field .field:hover {
    background-color: rgb(113, 242, 253);
}
.player-field .field:active {
    background-color: rgb(122, 100, 247);
}
.paper {
    background: url(img/paper.png) center no-repeat;
}
.scissors {
    background: url(img/scissors.png) center no-repeat;
}
.rock {
    background: url(img/rock.png) center no-repeat;
}
.result {
    color: #fff;
}
.play {
    color: #fff;
    font-size: 18px;
    padding: 8px 24px;
    text-transform: uppercase;
    border-radius: 25px;
    background: linear-gradient(180deg, #4CAF50, #377e38);
    border: none;
    cursor: pointer;
    box-shadow: 3px 5px 3px rgb(5, 48, 17);
    outline: none;
    transition: .2s ease;
    margin-top: 20px;
}
.play:active, .play:hover {
    transform: translate(2px, 3px);
    box-shadow: 1px 2px 0px rgb(5, 48, 17);;
}
.active {
    background-color: #4CAF50;
}
.error {
    background-color: crimson;
}
.computer-field.blink .rock {
    animation: blink 0.3s linear infinite;
}
.computer-field.blink .scissors {
    animation: blink 0.3s linear 0.1s infinite;
}
.computer-field.blink .paper {
    animation: blink 0.3s linear 0.2s infinite;
}
@keyframes blink {
    50% {background-color: greenyellow;}
    100% {background-color: #4CAF50;} 
}
.congratulations {
    position: absolute;
    display: none;
    background-color: #cf9090;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.output {
    padding-top: 6px;
    font-weight: 600;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
    0px -5px 35px rgba(255,255,255,0.3);
    width: 100%;
    height: 10%;
    text-align: center;
    background-color:#629552;
}
.image {
    height: 90%;
    width: 100%;
    display: none;
}